@model HandsOnHTMLHelpers.Models.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Eid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Eid)
            @Html.ValidationMessageFor(model => model.Eid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ename)
            @Html.ValidationMessageFor(model => model.Ename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JoinDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JoinDate)
            @Html.ValidationMessageFor(model => model.JoinDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uname)
            @Html.ValidationMessageFor(model => model.Uname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pwd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pwd)
            @Html.ValidationMessageFor(model => model.Pwd)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
